/* Styles that imitate a Google Plus widget until the actual widget is loaded */

.lazyloaded-googleplus-lazy .button {
  background: url(../img/googleplus-button.png) left -556px no-repeat !important;
  padding-left: 14px;
  text-shadow: 0 1px 0 white;
  color: #DA573B;
  width: 31px;
}
