/* Styles that imitate a Twitter widget until the actual widget is loaded */

.lazyloaded-twitter-lazy .button {
  background-image: url(../img/twitter-button.png) !important;
  padding-left: 19px;
  text-shadow: 0 1px 0 white;
}
