/* Styles that imitate a Facebook Like widget until the actual widget is loaded */

.lazyloaded-facebook-lazy * {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  padding-top: 0;
  height: 17px;
}

.lazyloaded-facebook-lazy .button {
  background: #ECEEF5 url(../img/facebook-button.png) no-repeat 7px 3px !important;
  padding-left: 23px;
  border-color: #CAD4E7;
  font-weight: normal;
  color: #3B5999;
}

.lazyloaded-facebook-lazy .counter {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
