/* General styles for the Lazyload module */

/* Base styles */
.lazyloaded {
  margin-bottom: 10px;
}
.lazyloaded-lazy * {
  display: inline-block;
  *display: inline; *zoom: 1; /* IE < 8 */
  border: 1px solid #bbb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 16px;
  padding: 1px 4px;
  font: 11px/1.6 sans-serif;
}

/* Button styles */
.lazyloaded-lazy .button {
  font-weight: bold;
  background: #eee;
  color: #222;
  text-decoration: none;
}

/* Counter styles */
.lazyloaded-lazy .counter {
  color: #666;
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  width: 42px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 5px;
  overflow: hidden;
  display: block;
}
.lazyloaded-lazy .counter:before,
.lazyloaded-lazy .counter:after {
  content: " ";
  position: absolute;
  top: 5px;
  border: solid transparent;
  border-width: 4px 4px 4px 0;
}

.lazyloaded-vertical {
  position: static;
}
.lazyloaded-vertical.lazyloaded-sticky {
  position: fixed;
  top: 10px;
}
